.post{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
  color: white;
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  h1 {
    margin-bottom: .5rem;


  }
   .info{
     strong{
       margin-right: 1rem;
     }
   }
}
